<div class="header-bar">Todo List</div>
<input type="text" #taskid placeholder="Enter your task" class="taskinput"/>
<button (click)="addTaskFun(taskid.value)" class="add-task-btn">Add Task</button>
<ul *ngFor="let item of list" class="list-items">
  <li class="task-item">
    <input type="checkbox" (change)="taskCompleted(this.item)">{{item.name}}
    <button (click)="removeTask(item.id)" class="remove-task-btn">Remove Task</button>
  </li>
</ul>
<!-- <button class="add-task-btn" (click)="completeAllTask()">Complete All Task</button>  -->
<div><button class="add-task-btn" (click)="removeAllTask()">Remove All Task</button></div>





