* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  overflow: hidden;
}

.rightsidebar {
  float: right;
  font-size: 25pt;
  border-style: groove;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  justify-content: center;
}

.headermain {
  display: flex;
  border-style: groove;
  font-size: 25pt;
  padding-left: 4px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}

.topnav-right {
  padding-right: 0px;
}

.main {
  display: flex;
  flex-direction: row;
  font-size: 50px;
  overflow-y: scroll;
  height: 100%;
}

.buttonss{
  align-items: baseline;
  margin-top: 1px;
  margin-bottom: 120px;
  margin-right: 2px;
  justify-content: right;
}

.patientinfo {  
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  font-size: 15px;
  border-style: groove;
  width: 100%;

}



.sidebar {
  /* padding: 6px 8px 6px 8px; */
  text-decoration: none;
  font-size: 20px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin: auto;
  color: #818181;
  border-style: groove;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 10%;
}

.headerbar {
  align-items: left;
  font-size: 25pt;
}

.left {
  padding-right: 70pt;
  display: flex;
}

.center {
  padding-left: 70pt;
  padding-right: 70pt;
}

/* .right {
  
} */

.patientinfomain {

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-top: 200px;
  height: auto;
}

.contact {
  display: flex;
  flex-direction: column;
  border-style: groove;
  /* overflow-y: scroll; */
  height: 50%;
}

.contact-header {
  font-size: 25px;
  width: 100%;
}

.section12 {
  display: flex;
  width: 100%;
  flex-direction: row;
  border-style: groove;
}

.section1 {
  font-size: 25px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 50%;
}

.section2 {
  font-size: 25px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 50%;
}

.topnav-right {
  float: right;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.nav {
  width: 100%;
}

input[type=text],
input[type=date],
select,
textarea {
  padding: .3rem.2rem;
  color: #627d98;
  border: 2px solid transparent;
  border-radius: .2rem;
  outline: 1px solid #dadada;
  width: 100%;
}

select:disabled,
input[type=date]:disabled,
input[type=text]:disabled {
  background-color: #b6b6b66c;
}

input[type=text]:focus {
  border: 2px solid #5a5fe2;
  background-color: rgba(238, 238, 238, 0.301)
}

.contactpref {
  border: groove;
  height: 90%;
}

.contactpreference{
  border-collapse: collapse;
  width: 100%;
  font-size: small;
  
}
.table tr td{
  padding: 0px;
}

.typeco{
  width: 100px;
}

.valueco{
  width: 100px;
}

.b1{
  justify-items: right;
}

.otherinfo{
  padding-top: 2px;
  display: flex;
  border-style: groove;
  flex-direction: row;
  font-size: 15px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

.left1{
  padding-right: 70pt;
  padding-left: 70pt;
}

.center1{
  padding-right: 70pt;
}
