* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.body {
    scrollbar-width: thin;
    background-color: #f1f1f7;
    overflow: hidden;
    font-family: WebImsLato,sans-serif;
    font-size: 1.3rem;
    color: #243B53;
    background-color: #f8f8f9;
    -webkit-font-smoothing: antialiased;
}
.h6 {
    color: #627D98;
    font-size: 13px;
}

body ::-webkit-scrollbar {
  background-color: #909090;
  opacity: .3;
  width: .5rem;
  height: .5rem;
}

body ::-webkit-scrollbar-thumb {
    background-color: #c3d6ec;
    border-radius: 3px;
    border: solid 6px transparent;
}

body ::-webkit-scrollbar-track {
    background-color: #f8f8f9;
}

.super{
  height: 100%;
  width: 100%;
}

.rightsidebar {
  background-color: white;
  float: right;
  top: 0;
  height: 100%;
  width: 3%;
  font-size: 25pt;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  /* margin-top: 0px; */
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.headermain {
  display: flex;
  z-index: 100;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 25pt;
  padding-left: 4px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}

.headermain > i{
  padding-left: 10px;
  padding-right: 10px;
}

.topnav-right {
  padding-right: 0px;
}

.main {
    display: block;
    font-family: WebImsLato,sans-serif;
    font-size: 13px;
    color: #627D98;
    flex-direction: row;
    font-size: 1.3rem;
    overflow-y: scroll;
    width: 83%;
    height: 79%;
    float: right;
    margin-top: 120px;
    margin-right: 1%;
    margin-left: 1%;
    align-content: center;
}


.buttonss {
  margin-top: 1px;
  right:110px;
  top: 120px;
  width: 80%;
  /* margin-bottom: 200px;
  margin-right: 2px; */
  text-align: right;
  position: fixed;
}

.buttonss > input {
    color: #fff;
    line-height: 1.2rem;
    height: auto;
    background-color: #fff;
    width: auto;
    padding: 0.3rem 0.5rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    border: 1px solid #627d98;
    color: #627D98;
    border-radius: .2rem;
}
.buttonss>input:hover{
    cursor:pointer;
}

.fa-solid fa-trash-can {
  content: "\f1f8";
  align-items:end;
}

.patientinfo {  
  background-color: white;
  display: flex;
  color:#627D98;
  flex-direction: row;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar {
    /* padding: 6px 8px 6px 8px; */
    background-color: #f1f1f7;
    margin-top: 60px;
    color: #0A2644;
    background-color: #f8f8f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    float: left;
    width: 11%;
    margin-left:10px;
    padding: 0.4rem;
    font-size: 16px;
}
.leftshowcontent{
    overflow-y:scroll;
    overflow-x:hidden;
    height:82%;
    margin-top:12px;
    padding-left:10px;
}


.sidebar div {
    margin-bottom: 12px;
    margin-top: 12px;
    /*  transition: transform .2s;*/
}

.leftshowcontent div:hover{
  transform: scale(1.05);
  color: #5A5FE2;
  cursor:pointer;
}


.headerbar {
  font-size: 25pt;
}


.center {
  display:flex;
  height:calc(100%);
  padding-left: 70pt;
  padding-right: 70pt;

}




.contact {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 10px;
}

.contact-header {
  font-size: 25px;
  width: 100%;
  padding: 10px 10px 10px 10px;
}
.section12 {
  width: 100%;
  margin-bottom: 10px;
  font-size: 25px;
  display: flex;
  overflow-x: scroll;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.fa-solid fa-trash-can{
    font-size:16px;
}

#form1 {
    min-width: calc(40%);
    width: 100%;
}
/* .section2 {
  font-size: 25px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 100%;
} */
.topnav-right {
  float: right;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.nav {
  width: 100%;
}



input[type=text],
input[type=date],
select,
textarea {
    padding: .3rem.2rem;
    color: #627d98;
    border: 2px solid transparent;
    border-radius: .2rem;
    outline: 1px solid #dadada;
    width: 100%;
}

select:disabled,
input[type=date]:disabled,
input[type=text]:disabled {
  background-color: #b6b6b66c;
}

input[type=text]:focus {
  border: 2px solid #5a5fe2;
  background-color: rgba(238, 238, 238, 0.301)
}

.contactpref {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: white;
    padding: 12px 12px 12px 12px;
    height: fit-content;
}
.contactpreference {
    border-collapse: collapse;

    width: 100%;
    font-size: 13px;
}
    .contactpreference input[type=text]{
        border-radius:0rem;
    }

    .table tr td {
        padding: 0px;
    }

.typeco{
  width: 100px;
}

.valueco{
  width: 100px;
}


.otherinfo{
  background-color: white;
  padding-top: 2px;
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  flex-direction: column;
  font-size: 15px;
  width: 100%;
  /* padding-left: 100px; */
  padding-right: 100px;
}
.other-header{
  right: 0;
  padding: 10px 10px 10px 10px;
  font-size: 25px;
}
.otherinfosub{
  display: flex;
  flex-direction: row;
}

.left1{
  padding-right: 70pt;
  padding-left: 70pt;
}

.center1{
  padding-right: 70pt;
}

input[type=checkbox] {
  zoom: 1;
}

.leftshow:hover{
    transform: scale(1.05);
}
.contact>i:hover{
    transform: scale(1.05);
}
i:hover{
  cursor:pointer;
  color:blue;
}
button:hover{
    cursor:pointer;
}
i {
  padding: 5px;
  color: #627d98;
  font-size: 80%;
}


.searchpatientbox{
  margin-left: 400px;
  padding-top:10px;
  padding-bottom:10px;
}
.image{
  
  border-radius: 1rem;
  object-fit: fill;
  box-shadow: 0 2px 4px rgb(0 0 0 / 24%), 0 4px 8px rgb(0 0 0 / 12%);
}
.leftshow{
    float:right;
    position:relative;
    right:12px;
}
#sidebar-collapse{
    position:fixed;

}

div.otherinfo td,
div.patientinfo td{
    padding-bottom:5px;
}
.hide-sidebar{
  width: 1.2%;
  /* content-visibility:hidden; */
  /* overflow-y: hidden; */

}
.expand-main{
  width: 93%;
  margin-right:1%;
  margin-left:1%;
  align-content: center;
  display: block;
  transition-duration: .5s;
  transition-delay: 0s;
  transition-property:all;
}


.hide-otherinfo{
  display: none;
}

.fieldset-contact{
    border-radius: 3px;
    border-color: #9fb3c8;
    padding: 10px;
    min-width:calc(100%);
    width: 100%;
    border-top-color: rgb(213, 220, 230);
    border-right-color: rgb(213, 220, 230);
    border-bottom-color: rgb(213, 220, 230);
    border-left-color: rgb(213, 220, 230);
    min-height: calc(100%);
}
.contact-legend{
    padding-top:25px;
    width:20%;
}

.requiredfield:after {
    content : "*";
    color : red;
}



.b3{
    caret-color:#FFFFFF;
}


.change-icon-180 {
    -ms-transform: rotate(180deg);
    -ms-transform-origin: 50% 50%; 
    transform: rotate(180deg);
    transform-origin: 50% 50%;
    display: inline-block;
}


.change-icon-90 {
    -ms-transform: rotate(270deg);
    -ms-transform-origin: 50% 50%;
    transform: rotate(270deg);
    transform-origin: 50% 50%;
    display: inline-block;
}


.multibirth-check{
    display:flex;
    flex-direction:row;
}

.deceased-check{
    display:flex;
    flex-direction:row;
}

.aligntext{
    text-align : right;
    padding-right: 5px;
    color: #486581;
    font-size:13px;
}

#snackbar-updated {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: forestgreen;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 110px;
    top: 70px;
    font-size: 17px;
}

    #snackbar-updated.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

@-webkit-keyframes fadein {
    from {
        top: 70px;
        opacity: 0;
    }

    to {
        top: 70px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top:70px;
        opacity: 0;
    }

    to {
        top: 70px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 70px;
        opacity: 1;
    }

    to {
        top: 70px;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 70px;
        opacity: 1;
    }

    to {
        top: 70px;
        opacity: 0;
    }
}